# Android Studio
.gradle
/build/
/captures/
.DS_Store
/local.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Caches
.cxx/
*.bin
*.apk
*.ap_
*.aab

# Crashlytics
com_crashlytics_export_strings.xml

# Other
/app/release/
/app/debug/
/app/profile/
*.log
